API_KEY=something
INFERENCE_SERVER_URL=https://api.openai.com/v1
MODEL_NAME=gpt-4o

OR

API_KEY=nothing
INFERENCE_SERVER_URL=http://localhost:11434/v1
MODEL_NAME=llama3.1:8b 

KAFKA_BROKER=localhost:9092
KAFKA_INPUT_TOPIC=input
KAFKA_OUTPUT_TOPIC=output
KAFKA_REVIEW_TOPIC=review

# only used in Brave web searching related tools tests
BRAVE_API_KEY=BSAj5bGQwWDxXM0YWjTkD8JeKWE1rHh